<%= render "shared/header" %>

<div class='user-show'>
  <div class='chat-start'>
    <div class='chat-start-btn'>
      <% unless current_user.id == @profile.user_id %>
        <% if @isRoom == true %>
          <%= link_to "メッセージを送る", room_path, class:"chat-start-red-btn" %>
        <% else %>
          <%= form_with model: @room, lpcal: true do |f| %>
            <%= fields_for @roomUser do |r| %>
              <%= r.hidden_field :profile_id, value: @profile.user_id %>
            <% end %>
            <%= f.submit "メッセージを送る", class:"chat-start-red-btn" %>
         <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="favorite-btn", id="favorite_<%= @profile.id %>">
    <%= render "favorites/favorite", profile: @profile %>
  </div>
  
  <div class='user-profile'>
    <% if @profile.image? %>
      <%= image_tag @profile.image.url, :size => '400x400' %>
    <% else %>
      <%= image_tag "/assets/default-user-icon.png", :size => '400x400' %>
    <% end %>
    <p class='user-name'>
    <%= @profile.nickname %>
    </p>
    <p class='profile-comment'>
    <%= @profile.content %>
    </p>
    <div class='sns-link'>
      <ul class="snsbtniti">
        <li><a href="TwitterのプロフィールURL" class="flowbtn6 fl_tw1"><i class="fab fa-twitter"></i></a></li>
        <li><a href="インスタのプロフィールURL" class="flowbtn6 insta_btn6"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class='tag-list'>
      <% @profile_tags.each do |tag| %>
        <%= link_to tag.tag_name, tag_profiles_path(tag_id: tag.id) %>
      <% end %>
    </div>
    <div class='rating-star'>
    </div>
    <%= link_to "プロフィールの編集", edit_profile_path(current_user.id), method: :get, class: "user-edit-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", profile_path(current_user.id), method: :delete, class:"user-destroy" %>
  </div>

  <div class="favorite-list">
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |profile| %>
        <div class="favorite-profile-name">
          <%= profile.nickname %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>